@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #fff;

}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 3%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
.logo img{
    width: 50px;
}

a img{
    width: 20px;
}

.menu-logo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-logo ul{
    display: flex;
    list-style: none;
    margin-left: 30px;
}
.menu-logo ul li a{
    font-weight: bold;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    color: #000;
    position: relative;
}
.menu-logo ul li a:after{
    content: "";
    position:absolute ;
    left: -15px;
    bottom: 20px;
    background-color:#006241;
    height:2px ;
    width: 100%;
    transition: 0.5;
    opacity: 0;
}
.menu-logo ul li a:hover:after {

    left: 0;
    opacity:1;

    
}

.header-btns{
    display: flex;
}

.header-btns a{

    display: contents;
    margin-right: 25px;
    align-items: center;
    text-decoration: 0;
    font-size: 13px;
}
.header-btns a img{
    margin-right: 10px;

}

.header-btns button:nth-child(2){
    margin-right:10px;
}

button{
    padding: 6px 15px;
    outline: 0;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 30px;
    transform: 0.1s ease-out;
    text-transform:capitalize;
    cursor: pointer;
}
button:hover{
    background-color: #006241;
    color: #fff;
    border: 2px solid #006241;
}
.header-btns button:nth-child(3){
    margin-right:10px;
    background-color: #000;
    color: #fff;

}

/*sections*/

section{
    display: flex;
    align-items: center;
    width: 94%;
    margin: 30px 3%;

}

section div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.section_1{
    height: 200px;

}

section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .div1, section .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    
}
section div button{
    margin-top: 35px
}

.section_1 .div2{
    background-color: #006241;
}
.section_1 .div2 h2{
    color: #fff;
}

section h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
}
section p{
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 50px;
}
.section_2{
    background-color: #fa91aa;
    color: #fff;
}

.section_3{
    background-color: #f06464;
    color: #fff;
}
.section_3 button{
    border: 2px solid #fff;
    color: #fff;
}
.section_4{
    background-color: #faaa5a;

}
.section_5{
    background-color: #9bf5b4;

}

/* text*/
.text{
    text-align: center;
    margin: 30px 0;
    font-size: 15px;

}

.text a{
    color: #000;
}

/* footer  */

footer {
    margin-bottom: 20px;
}
footer p {
    font-size: 14px;
    text-align: center;
}
footer hr {
    border: 0;
    background-color: #ccc;
    height:0.5px;
    width: 100%;
    margin: 20px 0;
}
.footer_links {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.footer_links .div1 h3 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 400;
}

.footer_links .div1 div {
    display: flex;
    flex-direction: column;
}
.footer_links .div1 div a {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: 0;
    color: #999;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.footer_links .div1 div a:hover {
    color: #000;
}

.social_icons {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.social_icons i {
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    margin: 10px;
    background-color: #000;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.social_icons i:hover {
    background-color: #006241;
}
span {
    color: #999;
    margin: 0 20px;
}
.footer_bottom_links {
    text-align: center;
}
.footer_bottom_links a {
    text-decoration: 0;
    color: #000;
    text-transform: capitalize;
    font-size: 12px;
}
.footer_bottom_links a:hover {
    text-decoration: underline;
}
.footer_end_text {
   font-size: 13px;
   margin-top: 20px;
   color: #999;
}


/*responsive*/
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 20px;
  }

  header ul {
    flex-direction: column;
    padding: 0;
  }

  section {
    flex-direction: column;
    text-align: center;
  }

  section .div1,
  section .div2 {
    width: 100%;
  }

  button {
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.95rem;
  }
}
